<%- include ('partials/header.ejs') %>
</head>

<body>
  <%- include ('partials/nav.ejs') %>
<main>
  <div class="jumbotron text-center">
    <div class="container">
      <h1>Calculate Your Postal Rate</h1>
      <p>Please choose the service to use and enter the weight of your item to see your cost.</p>
    </div>
  </div>
  <div class="container">  
    <div class="row">
      <% if (prods.length > 0) { %> 
        <form action="/purchase/" method="POST"></form>
          <div class="col-md-6">
            <h3><span class="glyphicon glyphicon-send"></span> Choose Service</h3>
            <% prods.forEach(service => { %> 
              <div class="form-check">          
                <input class="form-check-input" 
                  type="radio" 
                  name="serviceRadios" 
                  id='serviceRadio<%= service.id %>' 
                  value='<%= service.id %>'
                  onchange='getRate(value)'>
                <label class="form-check-label" for='serviceRadio<%= service.id %>'>
                  <%= service.name %>
                </label>
              </div>
            <% }) %>
          </div>
          <div class="col-md-6" id="rate-info">
               
          </div>
        </form>
        <div class="row" id="purchaseInfo"></div>
        <% } else { %> 
          <h3><span class="glyphicon glyphicon-link"></span> No Services Currently Available</h3>
          <p>Please try again later</p>        
          <% } %>
  </div>
</main>
  <script>

    const getRate = (id, response) => {
      fetch(`/getRates/${id}`)
        .then(response => response.json())
        .then(selectedService => {
          let rateInfo = ` 
          <h3><span class="glyphicon glyphicon-scale"></span> Select The Item's Weight Class</h3>
              <p>The item must be equal to or less than the weight selected and ${selectedService.description}</p>
                <div class="form-group">
                  <label for="itemWeight">Enter Your ${selectedService.name}'s Weight</label>
                  <select class="form-control" id="weightSelect" name="itemWeight">`
                    let weight = selectedService.weight
                    for (var key in weight) {
                    rateInfo +=  `<option value='${key}'>${key}, $${weight[key]}</option>`
                    }
                  rateInfo += `</select>
                </div>
                <input type="hidden" id="serviceId" value='${selectedService.id}'> 
              <button type="submit" class="btn btn-primary" onclick="purchaseService(event)">Purchase</button>`        
          document.getElementById("rate-info").innerHTML = rateInfo;
        })
    }

    const purchaseService = (event, response) => {
      event.preventDefault()
      const itemWeight = document.getElementById("weightSelect").textContent
      const serviceId = document.getElementById("serviceId").value
      const body = {
        "serviceId": serviceId,
        "itemWeight": itemWeight
      }
      fetch(`/purchase/`, {
        method: "post",
        body: JSON.stringify(body),
        headers: { "content-Type": "application/json" }
      })
        .then(response => response.json())
        .then(purchase => {
          let purchaseInfo = `
          <div class="row">
            <div class="col-md-12">
                <h3><span class="glyphicon glyphicon-usd"></span> Your purchase</h3>
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Service</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">1</th>
                        <td>${purchase.name}</td>
                        <td>${purchase.weight}</td>
                        <td>$${purchase.price}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>`
        document.getElementById('purchase-info').innerHTML = purchaseInfo
      })
      .catch(err => console.log(err))
    }
  </script>

</body>
</html>